:root {
	--main-text-font-family: "Roboto", sans-serif;
	--logo-font: "Raleway", sans-serif;
	--backgraound-main-footer-color: #2f303a;
	--secondary-text-color: #757575;
	--for-button-logo-color: #2196f3;
	--project-boxborder-color: #eeeeee;
	--logo-studio-color: #000000;
	--back-for-button-card-color: #f5f4fa;
	--mainbody-color: #212121;
	--white-bg-color: #ffffff;
	--hover-focus-icons-active-color: #188ce8;
	--inbox-future-icon-color: #f5f4fa;
	--social-networks-link-color: #afb1b8;
	--join-social-link-box-color: #757575;
	--overlay-bgcolor: #2196f3e6;
	--backdrop-bgcolor: rgba(0, 0, 0, 0.2);
	--what-we-do-overlay-bg-color: rgba(47, 48, 58, 0.8);
}

body {
	font-family: var(--main-text-font-family);
	letter-spacing: 0.03em;
	font-size: 14px;
	background: var(--white-bg-color);
	color: var(--mainbody-color);
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul,
li {
	list-style: none;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
.conteiner {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*((((((((((((((((((((((( Header styles ))))))))))))))))))))))))))*/

/* (((((((((((((((((((((( LOGO ))))))))))))))))))))))))) */

.webstudio {
	font-family: var(--logo-font);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
	color: var(--for-button-logo-color);
	cursor: pointer;
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo-studio {
	color: var(--logo-studio-color);
	background: var(--white-bg-color);
}

/* ((((((((((((((((((((((((( NAVIGATION ))))))))))))))))))))))))) */
.nav-position {
	position: relative;
}

.navigation-menu {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--mainbody-color);
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.navigation-menu:hover,
.navigation-menu:focus {
	color: var(--for-button-logo-color);
}

.current {
	color: var(--for-button-logo-color);
}
.navigation-menu.current::after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--for-button-logo-color);
}

.add-flex {
	display: flex;
	align-items: center;
}
.head-navigation {
	margin-left: auto;
	gap: 50px;
}
.head-navigtion-ul {
	justify-content: center;
}
.nav-margin {
	margin-left: 93px;
	gap: 50px;
}

/* ((((((((((((((((((((( MAIL+PHONE ))))))))))))))))))) */

.header-contacts {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
	display: flex;
	align-items: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contacts-icon-mail {
	margin-right: 10px;
	width: 16px;
	height: 12px;
	fill: currentColor;
}

.contacts-icon-phone {
	margin-right: 10px;
	width: 10px;
	height: 16px;
	fill: currentColor;
}
.header-contacts:hover,
.header-contacts:focus {
	color: var(--hover-focus-icons-active-color);
}

/* (((((((((((((((( MAIN BODY )))))))))))))))))))))))) */

/* (((((((((((((((( HAT )))))))))))))))))))))))) */
.main-hat {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/bg-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	max-width: 1600px;
	max-height: 600px;
	margin: 0 auto;
}
.main-hat-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-bg-color);
	margin-bottom: 30px;
	width: calc(100% / 1.78);
	/* calc(100%-56.5%); */
	margin-left: auto;
	margin-right: auto;
}
.main-button {
	background: var(--for-button-logo-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.main-button-text {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: var(--white-bg-color);
	letter-spacing: 0.06em;
	padding: 10px 32px 10px 32px;
}

/* (((((((((((((((((((((((( Our Features )))))))))))))))))))))))))))) */
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.our-features-title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--mainbody-color);
	font-size: 14px;
	margin-bottom: 10px;
}
.our-features-title-text {
	line-height: 1.71;
	color: var(--secondary-text-color);
}
.our-features-flex {
	display: flex;
	gap: 30px;
}
/* ((((((((((((((our-features-icons))))))))))))))))))))) */

.our-features-icon-box {
	display: block;
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
}
.our-features-icon {
	width: 70px;
	height: 70px;
	margin: 25px 100px 25px 100px;
}

/* (((((((((((((((((((((((( WHAT WE DO )))))))))))))))))))))*/
.what-we-do-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--mainbody-color);
	text-align: center;
	margin-bottom: 50px;
}
.padding-zero {
	padding-top: 0;
}

/* ((((((((((((((((((((((((((((((( TEAM )))))))))))))))))))))))))))))))))))) */
.team {
	background: var(--back-for-button-card-color);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--mainbody-color);
	margin-bottom: 50px;
	text-align: center;
}

.team-co-wockers-box {
	background: var(--white-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-co-wockers-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--mainbody-color);
	text-align: center;
	margin-bottom: 10px;
}
.team-speciality {
	font-size: 16px;
	line-height: 1.19;
	color: var(--secondary-text-color);
	text-align: center;
}
.team-text-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* ((((((((((((((((((((((((((( TEAM - SOCIAL LINKS )))))))))))))))))))))))))) */
.add-flex-team {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 10px;
}
.add-flex-team-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--social-networks-link-color);
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.add-flex-team-box:hover,
.add-flex-team-box:focus {
	background-color: var(--hover-focus-icons-active-color);
	color: var(--white-bg-color);
}
.team-social-link-box {
	width: 20px;
	height: 20px;
	fill: currentColor;
}

/* ((((((((((((((((((((((((((((((((( PARTNERS )))))))))))))))))))))))) */

.partners-company-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid currentColor;
	border-radius: 4px;
	color: var(--social-networks-link-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.partners-company-link:hover,
.partners-company-link:focus {
	color: var(--hover-focus-icons-active-color);
}

.partners-company-link-icon {
	width: 106px;
	height: 60px;
	fill: currentColor;
}

/* ((((((((((((((((((((( FOOTER ))))))))))))))))))))))))) */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: var(--backgraound-main-footer-color);
	align-items: baseline;
}
.webstudio-footer {
	font-family: var(--logo-font);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
	color: var(--for-button-logo-color);
	cursor: pointer;
}
.logo-studio-footer {
	color: var(--white-bg-color);
	background-color: var(--backgraound-main-footer-color);
	margin-bottom: 20px;
}
.address {
	font-style: normal;
	margin-top: 20px;
}

.address-ave {
	line-height: 1.71;
	color: var(--white-bg-color);
}
.address-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
	color: var(--for-button-logo-color);
}

.mail-footer {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.phone-footer {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* ((((((((((((((((((((((((((((( JOIN ))))))))))))))))))))))))*/
.join-margin {
	display: flex;
	align-items: baseline;
}

.join-margin-logo {
	margin-right: 70px;
}
.join-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.16;
	color: var(--white-bg-color);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.add-flex-join {
	display: flex;
	gap: 10px;
}
.add-flex-join-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--social-networks-link-color);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.add-flex-join-box:hover,
.add-flex-join-box:focus {
	background-color: var(--hover-focus-icons-active-color);
	color: var(--white-bg-color);
}
.join-social-link-box {
	width: 20px;
	height: 20px;
	fill: var(--white-bg-color);
}
/* (((((((((((((((((((((( SUBSCRIBE )))))))))))))))))))))) */

.subscribe-marg {
	margin-left: auto;
}

.add-flex-subscribe {
	display: flex;
	gap: 12px;
}
.add-flex-subscribe-box {
	width: 358px;
	height: 50px;
	background-color: inherit;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	padding-left: 16px;
	cursor: pointer;
	color: var(--white-bg-color);
}
.add-flex-subscribe-box::placeholder {
	color: #ffffff99;
}
.modal-form-button-submit-subscribe {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 50px;
	width: 200px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: var(--white-bg-color);
	letter-spacing: 0.06em;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--for-button-logo-color);
	border: none;
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal-form-button-submit-subscribe:hover,
.modal-form-button-submit-subscribe:focus {
	background-color: var(--hover-focus-icons-active-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.modal-form-subscribe-tg {
	width: 24px;
	height: 24px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;
	fill: #fff;
}

.subscribe-social-link-box {
	width: 20px;
	height: 20px;
	fill: var(--white-bg-color);
}

/* (((((((((((((((((((( PORTFOLIO-body )))))))))))))))))))))*/

.header-border {
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}

/* (((((((((((((((((((( BUTTON ))))))))))))))))))))))))) */
.button-text {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--mainbody-color);
	letter-spacing: 0.03em;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--back-for-button-card-color);
	border: none;
	padding: 6px 22px 6px 22px;
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button-text:hover,
.button-text:focus {
	background-color: var(--for-button-logo-color);
	color: var(--white-bg-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.button-flex {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
}
.button-flex:last-child {
	margin-right: 0;
}

/* ((((((((((((((((((((((( PROJECT BOXES ))))))))))))))))) */

.project-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.img-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--mainbody-color);
	margin-bottom: 4px;
}
.img-type {
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondary-text-color);
}
.img-text-padding {
	padding: 20px 24px 20px 24px;
	border: 1px solid var(--project-boxborder-color);
	border-top: none;
}
.project-boxes {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
		0ms;
}

.project-boxes:hover,
.project-boxes:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ((((((((((((((((((((((((((( OVERLAY STUDIO ))))))))))))))))))))))))))))))) */
.main-overlay-text {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--white-bg-color);
}
.main-what-we-do-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	bottom: 0%;
	background-color: var(--what-we-do-overlay-bg-color);
}

/* ((((((((((((((((((((((((((( OVERLAY-PORTFOLIO)))))))))))))))))))))))))))))))) */
.overlay-size {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--overlay-bgcolor);
	color: var(--white-bg-color);
	padding: 10px;
	font-family: inherit;
	font-size: 18px;
	line-height: 1.56;
	overflow: auto;
	transform: translateY(101%);
	transition: transform 250ms linear;
}
.project-boxes:hover .overlay,
.project-boxes:focus .overlay {
	transform: translateY(0%);
}

/* ((((((((((((((((((((((( BACKDROP )))))))))))))))))))))))))))))))) */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: var(--backdrop-bgcolor);
	transition: visibility 250ms linear, opacity 250ms linear;
}
.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background: var(--white-bg-color);
	padding: 40px;
}

.modal-close-button {
	height: 30px;
	width: 30px;
	background: var(--white-bg-color);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0%;
	top: 8px;
	right: 8px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal-close-button:hover,
.modal-close-button:focus {
	fill: var(--hover-focus-icons-active-color);
}

/* (((((((((((((((((((((((((( FORM-BACKDROP )))))))))))))))))))))))))))))) */

.backdrop-form-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.16;
	color: var(--mainbody-color);
	text-align: center;
	margin-bottom: 12px;
}
.modal-form {
	display: flex;
	flex-direction: column;
}
.modal-form-lable {
	margin-bottom: 10px;
}
.modal-form-lable-comment {
	margin-bottom: 20px;
}
.modal-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	transition: border-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;
}
.modal-form-title-name {
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
	margin-bottom: 4px;
}
.modal-form-input-icons {
	position: relative;
	display: block;
}
.modal-form-message {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 16px;
	padding-top: 12px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	resize: none;
	transition: border-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-form-message::placeholder {
	color: #75757580;
}
.modal-form-icons {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	transform: translateY(-50%);
	left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;
}

.modal-form-input:focus + .modal-form-icons,
.modal-form-input:hover + .modal-form-icons {
	fill: var(--hover-focus-icons-active-color);
}
.modal-form-input:focus,
.modal-form-input:hover,
.modal-form-message:focus,
.modal-form-message:hover {
	border: 1px solid #2196f3;
	outline: none;
}

.modal-form-check-box-lable {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.modal-form-check-input {
	position: absolute;
	appearance: none;
}
.modal-form-check-box-icons {
	height: 15px;
	width: 16px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	margin-right: 7px;
	font-size: 14px;
	line-height: 1.71;
}
.inside-check-box-icon {
	fill: #ffffff;
}
.modal-form-check-input:checked
	+ .modal-form-check-box-icons {
	background: var(--for-button-logo-color);
	border-color: var(--for-button-logo-color);
}
.modal-form-check-input:checked
	+ .modal-form-check-box-icons
	.check-box-icon {
	display: block;
}
.modal-check-box-text {
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}
.modal-form-check-box-link {
	color: var(--for-button-logo-color);
	border-bottom: 1px solid var(--for-button-logo-color);
}

.modal-form-check-input:focus
	+ .modal-form-check-box-icons {
	border: 2px solid #000;
	transition: border-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* ((((((((((((((((((((((((((((((BUTTON-SUBMIT)))))))))))))))))))))))))))))))) */

.modal-form-button-submit {
	width: 200px;
	height: 50px;
	margin: auto;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--white-bg-color);
	letter-spacing: 0.03em;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--for-button-logo-color);
	border: none;
	padding: 10px 52px 10px 52px;
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-form-button-submit:hover,
.modal-form-button-submit:focus {
	background-color: var(--hover-focus-icons-active-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
