.main-hat {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/bg-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	max-width: 1600px;
	max-height: 600px;
	margin: auto;
}
.main-hat__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-bg-color);
	margin-bottom: 30px;
	width: calc(100% / 1.68);
	/* calc(100%-56.5%); */
	margin-left: auto;
	margin-right: auto;
}
.main-button {
	background: var(--for-button-logo-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.main-button__text {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: var(--white-bg-color);
	letter-spacing: 0.06em;
	padding: 10px 32px 10px 32px;
}

/* (((((((((((((((((((((((( Our Features )))))))))))))))))))))))))))) */

.our-features__title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--mainbody-color);
	font-size: 14px;
	margin-bottom: 10px;
}
.our-features__title-text {
	line-height: 1.71;
	color: var(--secondary-text-color);
}
.our-features {
	display: flex;
	gap: 30px;
}
