.navigation__logo {
	font-family: $logo-font;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
	color: $for-button-logo-color;
	cursor: pointer;
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
}

.navigation__logo__text {
	color: $logo-studio-color;
	background: $white-bg-color;
}

.navigation__position {
	position: relative;
}
.current {
	color: $for-button-logo-color;
}
.navigation__menu {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: inherit;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	&:hover,
	&:focus {
		color: $for-button-logo-color;
	}
}

.navigation__menu.current::after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: $for-button-logo-color;
}

.navigation__indents-menu {
	margin-left: 93px;
	gap: 50px;
}

.indents-contacts {
	margin-left: auto;
	gap: 50px;
}
