.team {
	background: var(--back-for-button-card-color);
}

.team__co-wockers-box {
	background: var(--white-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__co-wockers-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--mainbody-color);
	text-align: center;
	margin-bottom: 10px;
}
.team__speciality {
	font-size: 16px;
	line-height: 1.19;
	color: var(--secondary-text-color);
	text-align: center;
}
.team__text-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team__add-flex {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 10px;
}
.team__add-flex__box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--social-networks-link-color);
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.team__add-flex__box:hover,
.team__add-flex__box:focus {
	background-color: var(--hover-focus-icons-active-color);
	color: var(--white-bg-color);
}
.team__social-link__box {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
