.main-button {
	background: $for-button-logo-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.main-button__text {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: $white-bg-color;
	letter-spacing: 0.06em;
	padding: 10px 32px 10px 32px;
}

.button__text {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: $mainbody-color;
	letter-spacing: 0.03em;
	border-radius: 4px;
	cursor: pointer;
	background-color: $back-for-button-card-color;
	border: none;
	padding: 6px 22px 6px 22px;
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	&:hover,
	&:focus {
		background-color: $for-button-logo-color;
		color: $white-bg-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
			0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
	}
}

.button__flex {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
	&:last-child {
		margin-right: 0;
	}
}

.modal__form__button-submit {
	width: 200px;
	height: 50px;
	margin: auto;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: $white-bg-color;
	letter-spacing: 0.03em;
	border-radius: 4px;
	cursor: pointer;
	background-color: $for-button-logo-color;
	border: none;
	padding: 10px 52px 10px 52px;
	transition: background-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	&:hover,
	&:focus {
		background-color: $hover-focus-icons-active-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
			0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
	}
}
