.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background: $white-bg-color;
	padding: 40px;
}

.modal__close-button {
	height: 30px;
	width: 30px;
	background: $white-bg-color;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0%;
	top: 8px;
	right: 8px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	&:hover,
	&:focus {
		fill: $hover-focus-icons-active-color;
	}
}

/* (((((((((((((((((((((((((( FORM-BACKDROP )))))))))))))))))))))))))))))) */

.backdrop__form-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.16;
	color: $mainbody-color;
	text-align: center;
	margin-bottom: 12px;
}
.modal__form {
	display: flex;
	flex-direction: column;
}
.modal__form__lable {
	margin-bottom: 10px;
}
.modal__form__lable-comment {
	margin-bottom: 20px;
}
.modal__form__input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	transition: border-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;
	&:focus,
	&:hover {
		border: 1px solid #2196f3;
		outline: none;
	}
}
.modal__form__title-name {
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: $secondary-text-color;
	margin-bottom: 4px;
}
.modal__form__input-icons {
	position: relative;
	display: block;
}
.modal__form__message {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 16px;
	padding-top: 12px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	resize: none;
	transition: border-color 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	&:focus,
	&:hover {
		border: 1px solid #2196f3;
		outline: none;
	}
	&::placeholder {
		color: #75757580;
	}
}

.modal__form__icons {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	transform: translateY(-50%);
	left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;
	.modal__form__input:focus + &,
	.modal__form__input:hover + & {
		fill: $hover-focus-icons-active-color;
	}
}

.modal__form__check-box-lable {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.modal__form__check-input {
	position: absolute;
	appearance: none;
}
.modal__form__check-box-icons {
	height: 15px;
	width: 16px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	margin-right: 7px;
	font-size: 14px;
	line-height: 1.71;
	.modal__form__check-input:focus + & {
		border: 2px solid #000;
		transition: border-color 250ms
			cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}
	.modal__form__check-input:checked + & {
		background: $for-button-logo-color;
		border-color: $for-button-logo-color;
	}
}
.inside-check-box-icon {
	fill: #ffffff;
	.modal__form__check-input:checked
		+ .modal__form__check-box-icons
		& {
		display: block;
	}
}

.modal-check-box-text {
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}
.modal__form__check-box-link {
	color: $for-button-logo-color;
	border-bottom: 1px solid $for-button-logo-color;
}
