body {
	font-family: $main-text-font-family;
	letter-spacing: 0.03em;
	font-size: 14px;
	background: $white-bg-color;
	color: $mainbody-color;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul,
li {
	list-style: none;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
